.stepper-header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.stepper-container {
    font-family: Arial, sans-serif;
    margin: 30px 0;
}

.stepper-content {
    display: flex;
    justify-content: center;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.step-number {
    background-color: #626262;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.step-title {
    font-weight: bold;
    margin-right: 10px;
    color: #626262;
}

.step-header.active .step-number {
    background-color: var(--primary-color);
}

.step-header.active .step-title {
    color: black;
}

.step-content {
    margin: 20px 0;
}

.step-actions {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
