.first-check {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

.multi-check {
    padding-top: 40px;
}

.multi-check--text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--danger-color);
}

.check-list {
    text-align: center;
    list-style-type: none;
}